.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
    padding: 50px;
    background-color: darkgrey;
    border-radius: 20px;
}