.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.container {
  display: flex;
  height: calc(100vh - 100px);
  overflow: hidden;
}

app-header {
  border: 3px solid green;
  height: 100px;
}

app-sidebar {
  border: 3px solid blue;
  height: 100%;
}

app-main-layout {
  border: 3px solid red;
  overflow-y: auto; 
  width: 100%;
  padding: 20px;
}
